{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-6">
   <h3>{{data.nama_matkul}}</h3>
   <table>
       <tr>
           <td>Nama Dosen :</td>
           <td><b>{{data.nama_dosen}}</b></td>
       </tr>
       <tr>
           <td>Jumlah SKS :</td>
           <td><b>{{data.jumlah_sks}}</b></td>
       </tr>
       <tr>
           <td>Deskripsi :</td>
           <td><b>{{data.deskripsi}}</b></td>
       </tr>
       <tr>
           <td>Ruang Kelas :</td>
           <td><b>{{data.ruang_kelas}}</b></td>
       </tr>
    </table>
    <br>
    <h4>Tugas Matkul Ini </h4>
    <table  class="table">
        <thead>
            <tr>
                <th scope="col">Nama Tugas</td>
                <th scope="col">Deskripsi Tugas</td>
                <th scope="col">Deadline</td>
            </tr>
        </thead>
        {% for x in tugas %}
        <tr style="background-color: {{x.1}};">
            <td>{{ x.0.nama_tugas }}</td>
            <td>{{x.0.deskripsi}}</td>
            <td>{{x.0.deadline}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/jadwalkelas"><button type="button" class="btn btn-primary">Back</button></a>
    <form action="" method="post" class="mt-4" style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete">
        <input type="submit" class="btn btn-danger" value="Delete"> 
    </form>

</div>
{% endblock %}